.navbar-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.item-menu {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-hover {
    background-color: transparent;
    border: none;
    position: relative;
}

.select-hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease; /* Adiciona uma transição suave na largura */
}

.select-hover:hover::before {
    width: 100%; /* Aumenta a largura para 100% no hover */
}
.list-hover {}

.item-name {}